@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* body {
    max-width: 100vw;
    overflow-x: hidden;
} */

#landing--page {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

section {
    background-color: rgb(245, 245, 245);
}

li {
    list-style-type: none;
}

/* 
NAV BAR
*/

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
    max-width: 100%;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}
.nav-link {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.fa-circle-half-stroke {
    font-size: 20px;
}

.nav__link-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -6px;
    right: 0;
    transition: all 300ms ease;
}
.nav__link-effect:hover::after {
    width: 100%;
}

.nav__link-effect--black::after {
    background-color: #242424;
}

.links--wrapper {
    display: flex;
}

.img--logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

/* HEADER */

.header--wrapper {
   width: 50%;
}

.title {
    font-size: 120px;
}

.title-2 {
    color: rgba(172, 13, 66, 0.8);
    font-size: 120px;
}

.pink {
    color: rgba(172, 13, 66, 0.8);
    font-weight: 700;
}

.header--para {
    font-size: 24px;
    line-height: 42px;
}




