@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#landing--page {
    min-height: 100vh;
}

#projects {
    min-height: 100vh;
}

main, section {
    background-color: rgb(245, 245, 245);
}

/* html {
    scroll-behavior: smooth;
} */

li {
    list-style-type: none;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.click {
    /* transform: scale(0.8); */
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

button {
   cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}


/* 
NAV BAR
*/

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
    max-width: 100%;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}
.nav__link {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.fa-circle-half-stroke {
    font-size: 20px;
}

.nav__link-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -6px;
    right: 0;
    transition: all 300ms ease;
}
.nav__link-effect:hover::after {
    width: 100%;
}

.nav__link-effect--black::after {
    background-color: #242424;
}

.links__wrapper {
    display: flex;
}

.img__logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

/* HEADER */

.header {
   position: absolute;
   top: 54%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   max-width: 1000px;
   padding: 0 30px;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    line-height: 1;
}

.title__2 {
    color: rgba(172, 13, 66, 0.8);
    margin-bottom: 12px;
}

.pink {
    color: rgba(172, 13, 66, 0.8);
    font-weight: 700;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 500px; /* this helps the paragraph to not stretch all over the page */
}

.social__list {
    display: flex;
    margin-top: 16px;
}

.social__link {
    background-color: rgba(172, 13, 66, 0.8);
    padding: 6px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 14px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}

.email__button {
    background-color: #242424;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex; /* display flex, justify content and align items work with the pseudo element below*/
    justify-content: center;
    align-items: center;
}
.scroll__icon::after {  /* this part adds the little dot in the middle along with the flexbox - justify & align*/
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 24px;
    animation: scroll 1000ms infinite alternate-reverse;
}

/* creating animation to the scroll icon*/
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-6px);
    }
}

/* 
PROJECTS
*/

.project__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.img__one {
    width: 100%;
}

.project__wrapper {
    position: relative;
    border-radius: 20px; /* this won't work until the overflow is hidden*/
    overflow: hidden;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.50);
}
.project__description {
    position: absolute;
    max-width: 550px;
    top: 50%;
    opacity: 0;
    transform: translateY(100%); /* when is not hovered then it won't -50%*/
    transition: opacity 300ms, transform 450ms ease;
    left: 90px;
    color: white;
}
.project__wrapper:hover .img__one { /* this part is to make the image blur when hovering */
    transform: scale(1.07);
    filter: blur(5px);
}
.project__wrapper:hover .project__wrapper--bg { /* this makes the bg darker*/
    opacity: 0.7;
}
.project__wrapper:hover .project__description { /* This targets the description only when the parent wrapper is hovered.*/
    opacity: 1;
    transform: translateY(-50%);
}
.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project__description--tag {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.project__description--title {
    font-size: 40px;
    margin-bottom: 10px;
}
.project__description--subtitle {
    font-size: 16px;
}
.project__description--para {
    font-size: 16px;
    line-height: 1.5;
    margin: 16px 0;
}
