@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#landing--page {
    min-height: 100vh;
}

#projects {
    min-height: 100hv;
}

#footer {
    min-height: 50vh;
    padding: 60px 0;
}

main,
section {
    background-color: rgb(245, 245, 245);
}

footer {
    background-color: #242424;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    margin-top: 8px;
    height: 100px;
    resize: vertical;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

input:focus, textarea:focus {
    border-color: #f06449;
}

/* html {
    scroll-behavior: smooth;
} */

li {
    list-style-type: none;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.click {
    /* transform: scale(0.8); */
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.pink {
    color: rgba(172, 13, 66, 0.8);
    font-weight: 700;
}

/* 
NAV BAR
*/

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
    max-width: 100%;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

.nav__link {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.fa-circle-half-stroke {
    font-size: 20px;
}

.nav__link-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.nav__link-effect:hover::after {
    width: 100%;
}

.nav__link-effect--black::after {
    background-color: #242424;
}

.links__wrapper {
    display: flex;
}

.img__logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

/* HEADER */

.header {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    line-height: 1;
}

.title__2 {
    color: rgba(172, 13, 66, 0.8);
    margin-bottom: 12px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 500px; /* this helps the paragraph to not stretch all over the page */
}

.social__list {
    display: flex;
    margin-top: 16px;
}

.social__link {
    background-color: rgba(172, 13, 66, 0.8);
    padding: 6px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 14px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}

.email__button {
    background-color: #242424;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex; /* display flex, justify content and align items work with the pseudo element below*/
    justify-content: center;
    align-items: center;
}

.scroll__icon::after {
    /* this part adds the little dot in the middle along with the flexbox - justify & align*/
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 24px;
    animation: scroll 1000ms infinite alternate-reverse;
}

/* creating animation to the scroll icon*/
@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6px);
    }
}

/* 
MODAL
*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    box-shadow: 0px 20px 80px 0;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 72px 60px;
    justify-content: center;
    position: relative;
}

.modal__about {
    background-color: rgb(245, 245, 245);
}

.modal__contact {
    background-color: #242424;
    color: white; 
}

.language__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.languages__img {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language__img {
    width: 100%;
    filter: brightness(1px);
    transition: transform 300ms ease;
}

.languages__img:hover .language__name {
    transform: scale(1);
    filter: brightness(80%);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    /* this makes the element completely dissapear by shrinking its size to zero*/
    transition: transform 300ms ease;
}

.language__img:hover {
    filter: brightness(80%);
    transform: scale(0.8);
}

.modal__title {
    font-size: 26px;
}

.modal__subt {
    font-size: 14px;
    margin: 12px 0 16px 0;
}

.modal__para {
    color: #242424;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 12px;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f06449;
    color: #fff;
    border: 2px solid #f06449;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 300ms ease, color 300ms ease, border 300ms ease;
}

.form__submit:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.form__submit:active {
    border-color: #f06449;
    background-color: #f06449;
}

.modal__overlay {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.modal__overlay--visible {
    z-index: 1;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}

/* 
PROJECTS
*/

.project__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.img__one {
    width: 100%;
    transition: transform 500ms ease, filter 500ms ease;
    /* without this the hover would look abrupt */
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    /* this won't work until the overflow is hidden*/
    overflow: hidden;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.50);
}

.project__description {
    position: absolute;
    max-width: 550px;
    top: 50%;
    opacity: 0;
    transform: translateY(100%);
    /* when is not hovered then it won't -50%*/
    transition: opacity 300ms, transform 450ms ease;
    left: 90px;
    color: white;
}

.project__wrapper:hover .img__one {
    /* this part is to make the image blur when hovering */
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    /* this makes the bg darker*/
    opacity: 0.7;
}

.project__wrapper:hover .project__description {
    /* This targets the description only when the parent wrapper is hovered.*/
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project__description--tag {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.project__description--title {
    font-size: 40px;
    margin-bottom: 10px;
}

.project__description--subtitle {
    font-size: 16px;
}

.project__description--para {
    font-size: 16px;
    line-height: 1.5;
    margin: 16px 0;
}

.project {
    margin-bottom: 135px;
}

/* 
FOOTER
*/

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__holder {
    text-align: center;
}

.footer__img {
    width: 70px;
    height: 70px;
}

.footer__links {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.footer__link {
    color: white;
    margin: 32px;
    position: relative;
}

.copyright__para {
    color: white;
    text-align: center;
    margin: 32px;
}

.footer__link-efect::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -3px;
    transition: width 300ms ease;
}

.footer__link-efect:hover::after {
    width: 100%;
}

.footer__link-efect--white:after {
    background-color: white;
}